{% extends "layouts/no-side-nav-layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '../',
      container: true
  })
}}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dt class="key-details-bar__name">John Smith</dt>

      <dt class="govuk-visually-hidden">National Insurance number:</dt>
      <dt class="key-details-bar__nino">AB CB 12 13</dt>

      <!-- <dt class="govuk-visually-hidden">Claim status:</dt>
      <dd class="key-details-bar__status">HCP REVIEW</dd> -->
    </div>

    <div class="key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>31 December 1999</dd>

      <dt>Postcode:</dt>
      <dd>N2 1XX</dd>

    </div>
  </dl>
</section>

  

{% endblock %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

 <a href="appointment?source=Appointment outcome" class="govuk-back-link">Back</a>

  <form action="#" method="post" id="auto-redirect">
     
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Was the appointment completed?
      </h1>
    </legend>
    {% if data["consultation-completed"] == 'Yes' %}
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="consultationOptOne" name="consultation-completed" type="radio" value="Yes" {{checked}}>
        <label class="govuk-label govuk-radios__label" for="consultationOptOne">
           Yes, complete and submit report
        </label>
      </div>
    {% else %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="consultationOptOne" name="consultation-completed" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="consultationOptOne">
           Yes, complete and submit report
        </label>
      </div>
    {% endif %}
    {% if data["consultation-completed"] == 'No' %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="consultationOptTwo" name="consultation-completed" type="radio" value="No" {{checked}}>
        <label class="govuk-label govuk-radios__label" for="consultationOptTwo">
          No
        </label>
      </div>
    </div>
    {% else %}
    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="consultationOptTwo" name="consultation-completed" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="consultationOptTwo">
          No
        </label>
      </div>
    </div>
     {% endif %}
  </fieldset>
</div>

      <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <!-- {% if (data['attendeeAdded']) %}
      <p><a href="attendees-addAnother">Cancel</a></p>
      {% else %}
      <p><a href="attendees-none">Cancel</a></p>
      {% endif %} -->
     </div>


      </form>
 
   

{% endblock %}
