{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      Prototype: PIP assessment check answers and reports
    </h1>

    <p class="govuk-body">This page is for displaying check answers pages and reports that we have for the different journey types, for quick access to see what they look like without going through a full journey.</p>

    <p class="govuk-body">These designs are currently owned by team Kestrel.</p>

    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:Emily.Colman@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="" class="govuk-link" ></a></li>
    </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Check answers pages</h2>

      <h3 class="govuk-heading-s"><a href="cya-and-reports/paperbased-cya">Paperbased</a></h3>
      <h3 class="govuk-heading-s"><a href="cya-and-reports/telephone-cya">Telephone</a></h3>
      <h3 class="govuk-heading-s"><a href="cya-and-reports/face-to-face-cya">Face to face</a></h3>
      <h3 class="govuk-heading-s">Special rules for end of life (SREL)</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="cya-and-reports/SREL-cya-harmful-one">Harmful check answers</a></li>
          <li><a href="cya-and-reports/SREL-cya-non-harmful">Non-harmful check answers</a></li>
        </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Reports</h2>

      <h3 class="govuk-heading-m" id="research">
    
      <h3 class="govuk-heading-s"><a href="cya-and-reports/paperbased-report">Paperbased</a></h3>
      <h3 class="govuk-heading-s"><a href="cya-and-reports/telephone-report">Telephone</a></h3>
      <h3 class="govuk-heading-s"><a href="cya-and-reports/face-to-face-report">Face to face</a></h3>
      <h3 class="govuk-heading-s">Special rules for end of life (SREL)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="cya-and-reports/SREL-report-harmful-one">Harmful report</a></li>
        <li><a href="cya-and-reports/SREL-report-non-harmful">Non-harmful report</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   

     

     

  </div>
</div>

{% endblock %}
