{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      Prototype: PIP assessment with face to face consultation
    </h1>

    <p class="govuk-body">The following prototypes have been created to test designs for PIP health assessments where a face to face consultation is required with the claimant.</p>

    <p class="govuk-body">These designs are currently owned by team Kestrel..</p>

    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:Emily.Colman@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="" class="govuk-link" ></a></li>
    </ul>

    <a href="face-to-face-two-sept/evidence?source=default" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View latest version
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Changelog</h2>

      <h3 class="govuk-heading-m" id="research">Iteration 2
        <strong class="govuk-tag govuk-tag">
          Latest version
        </strong>
      </h3>

      <p class="govuk-body">What we're changing:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Rearrange the side navigation</li>
      </ul>

      <p class="govuk-body">Why we're changing it:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>To better suite the flow of assessment, going from consultation to history of conditions and medications/treatments</li>
      </ul>
      
      <h3 class="govuk-heading-s"><a href="face-to-face-iteration-two/evidence?source=default">View iteration 2</a></h3>
      <h3 class="govuk-heading-s"><a href="face-to-face-two-sept/evidence?source=default">View September journey</a></h3>

      <h3 class="govuk-heading-m" id="research">Iteration 1
        <!-- <strong class="govuk-tag govuk-tag">
          Latest version
        </strong> -->
      </h3>

      <p class="govuk-body">What we're changing:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Adding links for face to face examinations</li>
        <li>Version 1.1 contains alternative for physical examinations</li>
      </ul>

      <p class="govuk-body">Why we're changing it:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>To include functions for face to face assessments</li>
      </ul>
      
      <h3 class="govuk-heading-s"><a href="face-to-face/evidence?source=default">View iteration 1</a> </h3>
      <h3 class="govuk-heading-s"><a href="face-to-face-one/evidence?source=default">View September journey</a></h3>

      
  </div>
</div>

{% endblock %}
