{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Team Kestrel prototypes
    </h1>

    <p class="govuk-body">This is the main index where the different strands of work we are working on can be accessed.</p>

    <p class="govuk-body">These designs are currently owned by team Kestrel.</p>

    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:Emily.Colman@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="#" class="govuk-link" ></a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">  
    <!-- appointment outcomes -->
           <h2 class="govuk-heading-l">Appointment outcomes</h2>
           <p class="govuk-body">A journey exploring options for recording the outcome for an assessment</p>
           <h3 class="govuk-heading-s"><a href="appointment-index">View</a></h3>

    

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Harmful information -->
           <h2 class="govuk-heading-l">Harmful information</h2>
           <p class="govuk-body">A journey exploring what harmful information could look like in telephone, face to face and paperbased assessments</p>
           <h3 class="govuk-heading-s"><a href="harmfulinfo-index">View</a></h3>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Video assessment -->
           <h2 class="govuk-heading-l">Video assessment</h2>
           <p class="govuk-body">An example journey for a video assessment</p>
           <h3 class="govuk-heading-s"><a href="video-index">View</a></h3>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <!-- Transformed decision making (TDM) -->
           <h2 class="govuk-heading-l">Transformed decision making (TDM)</h2>
           <p class="govuk-body">An example of transformed decision making within a telephone assessment</p>
           <h3 class="govuk-heading-s"><a href="TDM-index">View</a></h3>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <!-- Design ideas -->
           <h2 class="govuk-heading-l">Design ideas for assessments</h2>
           <p class="govuk-body">Journey to test some small concepts combined into one journey</p>
           <h3 class="govuk-heading-s"><a href="designIdeas-index">View iterations</a></h3>
          

       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <!-- conditions look up -->
           <h2 class="govuk-heading-l">Conditions</h2>
           <p class="govuk-body">Journey to test conditions name dropdown</p>
           <h3 class="govuk-heading-s"><a href="conditionsName-index">View iterations</a></h3>
          

       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

           <!-- paperbased assessments -->
           <h2 class="govuk-heading-l">Justifications</h2>
           <p class="govuk-body">Journey testing new ways to capture justification</p>
           <h3 class="govuk-heading-s"><a href="justification-index">View iterations</a></h3>
           <!-- <h3 class="govuk-heading-s"><a href="paperbased-assessment/evidence?source=default">View journey</a></h3> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

           <!-- paperbased assessments -->
           <h2 class="govuk-heading-l">Paperbased assessment</h2>
           <p class="govuk-body">Journey for paperbased assessments within health assessment service</p>
           <h3 class="govuk-heading-s"><a href="PBR-index">View iterations</a></h3>
           <!-- <h3 class="govuk-heading-s"><a href="paperbased-assessment/evidence?source=default">View journey</a></h3> -->
      
           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <!-- evidence page -->
     <h2 class="govuk-heading-l">Evidence</h2>
    
     <p class="govuk-body">A peice of work re-designing the evidence page, moving away from the current list of evidence
      to being able to see the actual evidence associated with a Personal Independance Payment application going for assessment.
     </p>

     <h3 class="govuk-heading-s"><a href="evidence-index">View iterations</a> </h3>

     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">Check answers and reports</h2>
    <p class="govuk-body">Section for showing check answers pages and reports in isolation according to the journey type,
      for easy view access without needing to go through a full journey. 
    </p>

    <h3 class="govuk-heading-s"><a href="cya-reports-index">View iterations</a> </h3>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- validation start -->
    <h2 class="govuk-heading-l">Validation</h2>
    
    <p class="govuk-body">Journey for demonstration of concepts with validation implemented with error messaages
    </p>
    <h3 class="govuk-heading-s"><a href="validation-index">View iterations</a> </h3>
    <!---end of validation---->
      
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- prompts start -->
    <h2 class="govuk-heading-l">Prompts and structured inputs</h2>
    
    <p class="govuk-body">Journey for creating structured inputs (prompts) for conditions, medications, treatments and social and 
                          occupational history 
    </p>

    <h3 class="govuk-heading-s"><a href="prompts-index">View iterations</a> </h3>
     <!---end of prompts---->

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Special rules for end of life (SREL) </h2>
    
      <p class="govuk-body">Journey for people who fall under special rules for end of life.
      </p>
      
      <h3 class="govuk-heading-s"><a href="SREL-index">View SREL iterations</a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Face to face assessment</h2>
    
      <p class="govuk-body">Journey for doing an assessment in person face to face, this is carried out by a healthcare professional
                            to assess a claimant looking to claim Personal Independance Payment.
      </p>
      
      <h3 class="govuk-heading-s"><a href="face-to-face-assessment-index">View face to face assessment iterations</a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Telephone assessment</h2>
    
      <p class="govuk-body">Journey for doing an assessment via the telephone, this is carried out by a healthcare professional
                            to assess a claimant looking to claim Personal Independance Payment.
      </p>
      
      <h3 class="govuk-heading-s"><a href="telephone-assessment-index">View telephone assessment iterations</a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      
      <h2 class="govuk-heading-l">Versioning of assessment</h2>
    
      <p class="govuk-body">Journey for creating different versions of an assessment report. When an assessment is audited
                            comments need to be saved so the healthcare professional can amend the report which then needs to be 
                            checked again before being submitted.
      </p>

      
      <h3 class="govuk-heading-s"><a href="versioning-index">View versioning iterations</a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-l">Paper-based assessment (old)</h2>
    
      <p class="govuk-body">Journey for a PIP paper-based assessment. This is a health assessment that does not require a claimant consultation.
      </p>

      
      <h3 class="govuk-heading-s"><a href="paper-based-index.html">View paper-based assessment iterations</a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
     


  </div>
</div>

{% endblock %}
