{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype: Justifications
    </h1>

    <p class="govuk-body">The following prototype has been created to test how justifications are captured within an assessment.</p>
    <p class="govuk-body">These designs are currently owned by team Kestrel.</p>
    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:Emily.Colman@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="" class="govuk-link" ></a> </li>
    </ul>

    <a href="justifications-twoIteration/evidence-addAnother?source=default" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View latest version
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Changelog</h2>

      <!------------------------------------------------------------------------------------------------------------------>

        <h3 class="govuk-heading-m" id="research">Iteration 2
        <strong class="govuk-tag govuk-tag--blue">
          Latest version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">October 2025</h4>
        <p class="govuk-body"><b>Telephone journey</b></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Seperating descriptor activites and justifications to be on their own pages</li>
        <li>Being able to group activties together and write a justification on the same page</li>
        <li>Tested the idea of showing scores next to activites <b>(being implemented at a later date)</b></li>
        <li>Updated anchor links once a justification group has been created</li>

      </ul>

       <h3 class="govuk-heading-s"><a href="justifications-two/evidence-addAnother?source=default">View iteration </a> </h3>

     <p class="govuk-body"><b>Paperbased journey</b></p>
     <p>This journey shows the paperbased review journey.</p>
     <p>This version has been live since January 2026. This version is a prototype version.</p>
      <h3 class="govuk-heading-s"><a href="justifications-twoIteration/evidence-addAnother?source=default">View iteration</a> </h3>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 1 
         <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">Septemeber 2025</h4>


      <h4 class="govuk-heading-s">Flexible grouping</h4>
      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Combining justifications with activity descriptors</li>
        <li>Grouping of activity descriptors using a dynamic list</li>
        <li>Grouped descriptors display with justifications below them</li>
        <li>Add custom justifications</li>
        <li>View functional history on it's own page</li>
      </ul>
      <h3 class="govuk-heading-s"><a href="justifications-one/evidence-addAnother?source=default">View iteration</a> </h3>

       <h4 class="govuk-heading-s">Summary view</h4>
       <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Textarea to capture notes relevant to activities</li>
        <li>Selecting descriptors in a table format</li>
        <li>Links to claimant questionnaire and functional history during descriptor selection</li>
        <li>Use of sub headings for justifications</li>
      </ul>
      <h3 class="govuk-heading-s"><a href="justifications-oneTwo/evidence-addAnother?source=default">View iteration </a> </h3>

  </div>
</div>

{% endblock %}
