{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype: PIP Paper-based assessment
    </h1>

    <p class="govuk-body">The following prototype has been created to test short phone calls within a paperbased assessment aswell as a new way of capturing the review period.</p>
    <p class="govuk-body">These designs are currently owned by team Kestrel.</p>
    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:Emily.Colman@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="" class="govuk-link" ></a></li>
    </ul>

    <a href="paperbased-assessment-two/evidence?source=default" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View latest version
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Changelog</h2>

      <h3 class="govuk-heading-m" id="research">Iteration 2 
        <strong class="govuk-tag govuk-tag--blue">
          Latest version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">April 2025</h4>

     <p class="govuk-body govuk-label--s">Phone journey:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Introducing 'Who did you call' label to group inputs for name of caller and relationship or role</li>
        <li>Removing identity and consent questions</li>
        <li>Including relationship or role on the summary playback with name of the person who was called</li>
      </ul>

      <p class="govuk-body govuk-label--s">Review period:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>Updated radio button label for "No, recommend an indefinite award" to "No, it's unlikely the claimant's condition or disability will improve"</li>
      <li>Changed order of review period radio buttons "No, it's unlikely the claimant's condition or disability will improve" is now at the bottom of the list</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="paperbased-assessment-two/evidence?source=default">View iteration 2</a></h3>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <!------------------------------------------------------------------------------------------------------------------>

      <h3 class="govuk-heading-m" id="research">Iteration 1 
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">April 2025</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Phone call journey</li>
        <li>New way of capturing review period</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="paperbased-assessment/evidence?source=default">View iteration 1 </a> </h3>

  </div>
</div>

{% endblock %}
