{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      Prototype: PIP assessment prompts and structured input
    </h1>

    <p class="govuk-body">The following prototype has been created to test designs for PIP health assessments where prompts have been introduced</p>

    <p class="govuk-body">These designs are currently owned by team Kestrel.</p>

    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:connor.brady@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="" class="govuk-link" ></a></li>
    </ul>

    <a href="prompts-six/evidence?source=default" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View latest version
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Changelog</h2>

      <h3 class="govuk-heading-m" id="research">Iteration 6
        <strong class="govuk-tag govuk-tag">
          Latest version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">August 2025</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Amended accordian design to remove link for title of condition and medication</li>      
        <li>Added radio button question for effectiveness of medications</li>    
        <li>Added declaration on condition page</li> 
      </ul>

      <h3 class="govuk-heading-s"><a href="prompts-six/evidence?source=default">View journey</a></h3>

      <h4 class="govuk-heading-s">Reference medication from evidence</h4>
      <p class="govuk-body">Idea from user research feedback for being able to reference a medication list from evidence. (not tested)</p>
      <h3 class="govuk-heading-s"><a href="prompts-six-one/evidence-none?source=default">View journey (medication reference)</a></h3>
      
      <h3 class="govuk-heading-m" id="research">Iteration 5
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">May 2025</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Adding accordian design for conditions and medications</li>
        <li>'Add sub headings' button for conditions</li>  
        <li>Combined dosage and frequency in medications</li>     
        <li>Does not take any medication checkbox</li>  
        <li>Home therapies question always visible</li>  
        <li>Side effects question appears after a medication is added</li> 
        <li>Added additional notes box in medications</li>   
      </ul>

      <h3 class="govuk-heading-s"><a href="prompts-five/evidence?source=default">View journey - with cards</a></h3>
      <h3 class="govuk-heading-s"><a href="prompts-five-one/evidence?source=default">View journey - with accordian</a></h3>

      <h3 class="govuk-heading-m" id="research">Iteration 4
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">November 2024</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Updates based on the last round of user research</li>
        <li>Making the condition name a link once it has been added</li>
        <li>Content updates</li>
        <li><a href="prompts-four/check-answers-new">Check answers page</a></li>
        <li><a href="prompts-four/report-new">Report page</a></li>
      </ul>

      <h3 class="govuk-heading-s"><a href="prompts-four/evidence?source=default">View journey</a></h3>

      <h3 class="govuk-heading-m" id="research">Iteration 3
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">October 2024</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Updates based on the last round of user research</li>
        <li>Changing input fields for conditions and medications</li>
        <li>Changing the playback display for conditions and medications</li>
        <li>Added home therapy box onto the conditions page after reserach</li>
      
      </ul>

      <h3 class="govuk-heading-s"><a href="prompts-three/evidence?source=default">View journey</a></h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 2
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">September 2024</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Add another using a button, one page loop</li>
      
      </ul>

      <h3 class="govuk-heading-s"><a href="prompts-two/evidence?source=default">View journey</a></h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     

      <h3 class="govuk-heading-m" id="research">Iteration 1 
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">September 2024</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Adding another using three pages, with first page being in default style</li>
      
      </ul>

      <h3 class="govuk-heading-s"><a href="prompts/evidence?source=default">View journey</a></h3>

  </div>
</div>

{% endblock %}
