{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      Prototype: Special rules for end of life (SREL assessment)
    </h1>

    <p class="govuk-body">The following prototypes have been created to test designs for PIP health assessments where a claimant is terminally ill and is applying under special rules for end of life.</p>

    <p class="govuk-body">These designs are currently owned by team Kestrel.</p>

    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:Emily.Colman@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="" class="govuk-link" ></a></li>
    </ul>

    <a href="SREL-4/assessment-type.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View latest version
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Changelog</h2>

      <h3 class="govuk-heading-m" id="research">Iteration 4
        <strong class="govuk-tag govuk-tag">
       Latest version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">April 2024.</h4>

      <p class="govuk-body">Includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Validation and error messages</li>
        <li>Updates from latest user research</li>
        <li>Link from workflow to reports</li>
        
      </ul>

      <h3 class="govuk-heading-s"><a href="SREL-4/workflow.html">Workflow to reports</a> </h3>
      <h3 class="govuk-heading-s"><a href="SREL-4/assessment-type.html">View iteration 4 </a> </h3>

      <h3 class="govuk-heading-m" id="research">Iteration 3
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">February 2024.</h4>

      <p class="govuk-body">Includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Scenario where diagnosis and prognosis are known by claimant</li>
        <li>Scenario where diagnosis and prognosis are not known by claimant</li>
        <li>Spilt the mobility descriptors onto different pages</li>
        <li>Capturing seperate justifications for mobility descriptors</li>
        <li>Adding another short call</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="SREL-3/assessment-type.html">View iteration 3 </a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration side nav
        <strong class="govuk-tag govuk-tag">
       
        </strong>
      </h3>
      <h4 class="govuk-heading-s">February 2024</h4>

      <p class="govuk-body">Includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The assessment done in the side nav style</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="SREL/sidenav">View iteration side nav </a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 2
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">February 2024.</h4>

      <p class="govuk-body">Includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Linear view of the SREL journey</li>
        <li>Removed tasklist</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="SREL-2/assessment-type.html">View iteration 2 </a> </h3>
      <h3 class="govuk-heading-s"><a href="SREL-2-1/assessment-type.html">View iteration 2.1 </a> </h3>
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 1 
         <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      
      <h4 class="govuk-heading-s">January 2024</h4>

      <p class="govuk-body">Includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Designed using tasklist</li>
        <li>Adding short phone call</li>
        <li>Option for specifying if information is harmful to claimant</li>
        <li>Global justification for descriptors and overall assessment</li>
       
      </ul>

      <h3 class="govuk-heading-s"><a href="SREL/tasklist">View iteration 1 </a> </h3>

  </div>
</div>

{% endblock %}
