{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      Prototype: PIP assessment with telephone consultation
    </h1>

    <p class="govuk-body">The following prototypes have been created to test designs for PIP health assessments where a telephone consultation is required with the claimant.</p>

    <p class="govuk-body">These designs are currently owned by team Kestrel.</p>

    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:james.ashcroft@engineering.digital.dwp.gov.uk" class="govuk-link" >James Ashcroft</a> - Interaction Designer</li>
      <li><a href="mailto:Emily.Colman@engineering.digital.dwp.gov.uk" class="govuk-link" >Emily Colman</a> - Senior Content Designer</li>
      <li><a href="" class="govuk-link" ></a></li>
    </ul>

    <a href="ta-8/evidence" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View latest version
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Changelog</h2>

      <h3 class="govuk-heading-m" id="research">Iteration 8
        <strong class="govuk-tag govuk-tag">
          Latest version
        </strong>
      </h3>

      <p class="govuk-body">What we're changing:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Changing some links in the side navigation</li>
        <li>Including single justifications</li>
        <li>Updating report output</li>
      </ul>

      <p class="govuk-body">Why we're changing it:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Based on user research which was done on version 7.</li>
      </ul>
      
      <h3 class="govuk-heading-s"><a href="ta-8/evidence?source=default">View iteration 8</a> </h3>

      <h3 class="govuk-heading-m" id="research">Iteration 7
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>

      <p class="govuk-body">What we're changing:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Adding a version where the design is in a side navigation layout, instead of the tasklist</li>
      </ul>

      <p class="govuk-body">Why we're changing it:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>To see the concept as we will be going with this approach until atleast September 2024 where the design may iterate back to a takslist approach.</li>
      </ul>
      
      <h3 class="govuk-heading-s"><a href="ta-7/evidence?source=default">View iteration 7</a> </h3>
      
      <h3 class="govuk-heading-m" id="research">Iteration 6 
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>

      <p class="govuk-body">What we're changing:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Add a new section to tasklist for submitting the report. This replaces the green 'check answers' button that was conditionally revealed once all tasks were complete</li>
      </ul>

      <p class="govuk-body">Why we're changing it:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>To improve accessibility and align the task list pattern with the Gov Design System guidance</li>
      </ul>
      
      <h3 class="govuk-heading-s"><a href="ta-6/ta-task-list">View iteration 6</a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 5
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">November 2023</h4>

      <p class="govuk-body">What we changed:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Updated content for telephone call end points</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="ta-5/ta-task-list">View iteration 5</a> </h3>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 4
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">November 2023</h4>

      <p class="govuk-body">What we changed:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Telephone call end points</li>
        <li>Abandon call journey</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="ta-4/ta-task-list">View iteration 4</a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h3 class="govuk-heading-m" id="research">Iteration 3
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">October 2023</h4>

      <p class="govuk-body">What we changed:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Social and occupational history on one page</li>
        <li>Updated content throughout</li>
        <li>Report format updated for better readability</li>
        <li>Global justification</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="ta-3/task-queue">View iteration 3 </a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 2 
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">September 2023</h4>

      <p class="govuk-body">What we changed:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Separate fields for functional history</li>
        <li>Structured inputs for meds/treatments</li>
        <li>Remove mid-call CYA screen</li>
        <li>Changed split screen activation method</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="ta-2/task-queue">View iteration 2 </a> </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m" id="research">Iteration 1 
        <strong class="govuk-tag govuk-tag--grey">
          Older version
        </strong>
      </h3>
      <h4 class="govuk-heading-s">July 2023</h4>

      <p class="govuk-body">Includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Task queue screen</li>
        <li>Task triage question</li>
        <li>Prep stage</li>
        <li>Linear telephone journey</li>
      </ul>

      <h3 class="govuk-heading-s"><a href="ta-1/task-queue">View iteration 1 </a> </h3>

  </div>
</div>

{% endblock %}
